@model GetBooksQuery

@{
    ViewData["Title"] = "Книги";

    var books = (IPager<BookDto>)ViewData["Books"];

    int i = books.StartItemIndex;
}

<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="main-content">
        <div class="breadcrumb">
            <ul>
                <li><a asp-controller="Book" asp-action="Index">Список книг</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="card-title mb-3">Поиск</div>
                        <form asp-action="Index" method="get" autocomplete="off"> 
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Наименование книги</label>
                                    <input class="form-control" asp-for="@Model.Name">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Автор книги</label>
                                    <input class="form-control" asp-for="@Model.AuthorName">
                                </div>
                                <div class="col-md-6 d-flex my-3 align-items-center pr-0">
                                    <div class="col-md-4 pt-2 pl-0">
                                        <label class="text-16">Период проведения</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="date" asp-for="PublishYear" placeholder="Выберите дату" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <button class="btn btn-primary btn-block">
                                        <i class="i-Magnifi-Glass1 mr-1"></i>Найти
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <a asp-action="Index" class="btn btn-secondary btn-block" type="button">Сбросить</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 mx-auto mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="table-responsive">
                            <h4 class="card-title mb-3">@ViewData["Title"] (Кол-во книг: @books.TotalItemCount)</h4>
                            <a asp-action="Create" asp-controller="Book" class="btn btn-lg btn-primary" type="button">
                                <i class="i-Add-User mr-2"></i>Добавить задачу
                            </a>
                            @if (books.Any())
                            {
                                <table class="footable table toggle-arrow-tiny mt-4 table-hover" data-page-size="@books.TotalPageCount" data-striping="false">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Наименование</th>
                                            <th>Автор книги</th>
                                            <th>Дата выпуска</th>
                                            <th>Жанр</th>
                                            <th class="text-white"></th>
                                            <th class="text-white"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var book in books)
                                        {
                                            <tr>
                                                <td>@(i++)</td>
                                                <td>@book.Name</td>
                                                <td>@book.AuthorName</td>
                                                <td>@book.PublishYear</td>
                                                <td>@book.Genre</td>
                                                <td class="text-right">
                                                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-white btn-circle" title="Редактирование книги">
                                                        <i class="i-Edit text-25 text-secondary mr-1"></i>
                                                    </a>
                                                </td>
                                                <td class="text-right">
                                                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-white btn-circle" title="Удалить книгу">
                                                        <i class="i-Remove text-25 text-secondary mr-1"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @Html.Pager(books, page => Url.Action("Index", new
                            {
                            page,
                            Name = Model.Name,
                            AuthorName = Model.AuthorName,
                            PublishYear = Model.PublishYear,
                            }),
                            new PagerOptions
                            {
                            PagesToDisplay = 20,
                            ClassToPagerContainer = "d-flex justify-content-center"
                            })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <environment names="Development,Staging,Production">
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />
    </environment>
}
    @section Scripts{
    <environment names="Development,Staging,Production">
        <partial name="_ValidationScriptsPartial" />
        <script src="~/lib/select2/js/select2.full.min.js" asp-append-version="true"></script>
        <script src="~/lib/select2/js/i18n/ru.min.js" asp-append-version="true"></script>
    </environment>
}

